{% extends "todo/base.html" %}

{% block content %}

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

<div class="row justify-content-center mt-5" >
        <div class="col-md-7 text-center">

                 <h1>HEALTH CARE SYSTEM</h1>
            <p>The Smart Health Card System is a cutting-edge web application built on Django that embodies this definition by providing a centralized and intelligent platform for health management. It caters to both patients and medical professionals, offering robust features for secure health record keeping, real-time disease tracking, and the generation of personalized health cards. By integrating machine learning capabilities, specifically for disease prediction, the system aims to assist in early diagnosis and proactive health management, thereby significantly improving individual health outcomes and streamlining healthcare delivery. </p>
        </div>
    </div>

{% endblock %}
